:root {
    --rounded: 0rem;
}

.text {
    font-size: inherit;
}

.text-label {
    font-size: inherit;
}

.text-small {
    font-size: .9rem;
}

.text-medium {
    font-size: 1rem
}

.text-large {
    font-size: 1.5rem
}

.k-layout {
    border-bottom: solid 2px rgba(0, 0, 0, .1);
}

.k-layout-column>.k-blocks>.k-blocks-list>.k-block-container:last-of-type {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border-bottom: none;
}

.k-writer-input[name="description"] {
    font-size: 1.5rem;
}

.k-section-name-cover .k-grid {
    row-gap: 2px;
}

.k-field-name-caption .k-field-header {
    display: none;
}

.k-block-container:last-of-type {
    border-bottom: 1px dashed rgba(0, 0, 0, .1);
}

.k-block-container:not([data-hidden=true]) .k-block-type-fields>:not([data-collapsed=true]) {
    padding-top: var(--spacing-3);
}

.griditem-block,
.gallery-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--spacing-3);
}

.griditem-block-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.k-field-name-contact .k-blocks-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.k-field-name-contact .k-block-container {
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.k-block-type-contacblock .k-text>:where(audio, blockquote, details, div, figure, h1, h2, h3, h4, h5, h6, hr, iframe, img, object, ol, p, picture, pre, table, ul)+* {
    -webkit-margin-before: 0;
    margin-block-start: 0;
}

.block--empty {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 8px;
    color: var(--color-gray-500);
    cursor: pointer;
}

.additional-text-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 1rem;
}

.simulate-button {
    color: rgb(210, 210, 210);
}

.additional-text {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.k-block-type-summaryblock header {
    display: none;
}

.k-block-type-summaryblock .k-block-type-fields-form {
    padding: 0;
}

.k-block-type-summaryblock .k-structure-field .k-table+footer {
    margin: 0;
}