:root {
    --rounded: 0rem;
    /* --shadow: 0; */
}

.k-blocks[data-empty="true"] {
    background-color: lightgray;
}

.k-blocks-list .k-block-container-type-griditem:not(:first-child) {
    background-color: red;
}

th[data-column-id="info"],
td[data-column-id="info"] {
    display: none;
}