html {
    font-size: 100%;
    scrollbar-gutter: stable;
}

body {
    width: 100%;
    color: var(--main-color);
    background-color: var(--bg-color);
    overflow-x: hidden;
    font-family: "Elza", sans-serif;
}

img {
    width: 100%;
}

.header {
    width: 100dvw;
    height: var(--header-height);
    position: sticky;
    top: -3.5rem;
    left: 0;
    mix-blend-mode: difference;
    z-index: 999;
}

.site-title {
    position: relative;
    font-size: var(--txt-title-size);
    font-weight: 400;
    line-height: 1;
    color: var(--difference-color);
    text-align: center;
    margin: 0;
}

.page-title {
    font-size: var(--txt-size);
    font-weight: 400;
}

.text {
    font-size: var(--txt-size);
    line-height: 1.2;
}

.text-label {
    font-size: var(--txt-size);
    line-height: 1;
    text-transform: lowercase;
}

.text-small {
    font-size: var(--txt-small-size);
    line-height: 1.2;
}

.text-medium {
    font-size: var(--txt-medium-size);
    line-height: 1.2;
}

.text-large {
    font-size: var(--txt-large-size);
    line-height: 1.2;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.icons {
    width: fit-content;
    display: flex;
    gap: var(--inner-gap);
    align-items: center;
}

.button {
    width: var(--button-size);
    height: var(--button-size);
    border: solid 1px var(--main-color);
    border-radius: 50%;
    display: flex;
    gap: var(--inner-gap);
    align-items: center;
    justify-content: center;
}

.button svg {
    width: var(--button-size);
    height: var(--button-size);
    fill: none;
    stroke: var(--main-color);
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.button.plus-minus path {
    transition: .3s;
    transform-origin: 50%;
}

.button.plus-minus.minus {
    border: solid 1px var(--acc-color);
}

.button.plus-minus.minus .horizontal-path {
    transform: rotate(-180deg);
}

.button.plus-minus.minus .vertical-path {
    transform: rotate(-90deg);
}

.button:hover {
    background-color: var(--main-color);
}

.button:hover svg {
    stroke: var(--bg-color);
}

.open .button,
.selected .button {
    border: solid 1px var(--acc-color);
}

.open .button svg,
.selected .button svg {
    stroke: var(--acc-color);
}

.open .button:hover,
.selected .button:hover {
    background-color:var(--acc-color);
    border: solid 1px var(--acc-color);
}

.open .button:hover svg,
.selected .button:hover svg {
    stroke: var(--bg-color);
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    text-decoration-color: inherit;
}

a:hover {
    text-decoration: none;
}

.link,
.item-header-title a,
.footer-block a {
    position: relative;
    text-decoration: none;
    padding: 0 1px;
}

.link::after,
.item-header-title a::after,
.footer-block a::after {
    content: "";
    background: var(--main-color);
    width: calc(100% + 8px);
    height: calc(100% + 6px);
    position: absolute;
    top: -4px;
    left: 0;
    transform: translateX(-3px) scaleX(0);
    transform-origin: left;
    z-index: -1;
    transition: transform .15s ease-in-out;
}

.list-topbar-content:not(.selected):hover .link,
.link:hover,
.item-header-title a:hover,
.footer-block a:hover {
    color: var(--bg-color);
    font-weight: 700;
}

.list-topbar-content:not(.selected):hover .link::after,
.link:hover::after,
.item-header-title a:hover::after,
.footer-block a:hover::after {
    transform: translateX(-4px) scaleX(1);
    transform-origin: left;
}

.selected:hover .link::after {
    background: var(--acc-color);
}

.menu {
    height: fit-content;
    position: sticky;
    top: 3.5rem;
    background-color: var(--bg-color-opacity);
    padding: 0 var(--main-margin);
    z-index: 999;
}

.menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: lowercase;
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    padding: var(--inner-gap) 0;
}

.page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav {
    display: flex;
    gap: var(--menu-gap);
}

.main {
    min-height: var(--doc-height);
    padding: var(--main-margin);
}

.accordion-content {
    display: none;
}

.intro-section {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-gap) * 3);
    padding-bottom: calc(var(--grid-gap) * 3);
}

.grid-section {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-gap) * 3);
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
}

.span-1,
.span-3 {
    grid-column: span 1;
}

.span-2,
.span-6 {
    grid-column: span 2;
}

.grid-item {
    height: fit-content;
    position: sticky;
    top: var(--inner-gap);
    display: flex;
    flex-direction: column;
    gap: var(--inner-gap);
}

.item-header,
.item-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item-header-title,
.item-footer-counter {
    grid-column: 1 / 2;
    justify-self: start;
}

.item-header-category,
.item-footer-links {
    grid-column: 2 / 3;
    justify-self: end;
}

.item-images {
    height: auto;
    position: relative;
    overflow: hidden;
    transition: height .3s ease;
}

.item-images figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: opacity .3s ease;
}

.item-images figure.active {
    opacity: 1;
    z-index: 1;
}

.item-images img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.item-images img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--acc-color);
    opacity: 1;
    z-index: 1;
    transition: opacity .3s ease;
}

.item-images img:hover .item-images img::after {
    opacity: .5;
}

.counter {
    min-width: 1.2rem;
    text-align: center;
}

.selected .item-header,
.selected .counter,
.item-content {
    color: var(--acc-color);
}

.item-content.open {
    display: flex;
    flex-direction: column;
    gap: var(--inner-gap);
    padding-top: var(--inner-gap);
}

.list {
    width: 100%;
}

.list-topbar-header,
.list-topbar-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: stretch;
    align-items: center;
    border-bottom: solid 1px var(--main-color);
    padding: var(--inner-gap) 0;
}

.list-topbar-header {
    border-top: solid 1px var(--main-color);
}

.list-topbar-header .topbar-label {
    width: fit-content;
    display: flex;
    align-items: baseline;
    gap: var(--grid-gap);
}

.list-topbar-header .topbar-label svg {
    /* display: none; */
    width: 8px;
    fill: none;
    stroke: var(--main-color);
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: center;
    transition: transform 0.2s ease;
}

.list-topbar-header .topbar-label svg.asc {
    /* display: inline-block; */
    fill: var(--main-color);
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}

.list-topbar-header .topbar-label svg.desc {
    /* display: inline-block; */
    fill: var(--main-color);
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.topbar-label span:has(+ svg.asc),
.topbar-label span:has(+ svg.desc) {
    font-weight: 700;
}

.topbar-label {
    cursor: pointer;
}

.topbar-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    display: block;
    pointer-events: none;
    opacity: 0;
}

.selected .topbar-image {
    display: none;
}

.topbar-image img {
    transform: scale(0.95);
}

.list-topbar-content:hover .topbar-image {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.list-topbar-content:hover .topbar-image img {
    transform: scale(1);
    transition: transform .15s ease-in-out;
}

.topbar-icons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.selected .list-topbar-content {
    color: var(--acc-color);
    border-bottom: solid 1px var(--acc-color);
}

.list-content.open {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);
    padding: var(--inner-gap) 0;
    border-bottom: solid 1px var(--acc-color);
}

.list-content-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);
}

.list-content-text {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    color: var(--acc-color);
}


.list-item:nth-child(even) .topbar-image {
    transform: translate(calc(-50% + 100px), -50%);
}

.list-item:nth-child(odd) .topbar-image {
    transform: translate(calc(-50% - 100px), -50%);
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
}

.intro-info-image {
    grid-column: 1 / 4;
}

.intro-info-text {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
}

.footer {
    width: 100%;
    padding: 0 var(--main-margin);
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: var(--inner-gap) 0;
    border-bottom: solid 1px var(--main-color);
}

.footer-block {
    display: flex;
    flex-direction: column;
}