html {
    font-size: 100%;
}

body {
    width: 100%;
    min-height: var(--doc-height);
    color: var(--main-color);
    background-color: var(--bg-color);
    overflow-x: hidden;
    font-family: "Elza", sans-serif;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.site-title {
    font-size: var(--txt-large-size);
    font-weight: 400;
    line-height: 1;
    color: var(--main-color);
    text-align: center;
    margin: 0;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    padding: 1rem var(--main-margin);
    text-transform: lowercase;
    background-color: var(--bg-color);
    transform: translateY(-1rem);
}

.nav-wrapper {
    display: flex;
    gap: var(--main-margin);

}