:root {
    --doc-height: 100%;
    --header-height: 7rem;
    --footer-height: 7rem;
    --bg-color: #e8e8e8;
    --bg-color-opacity: #e8e8e8a0;
    --main-color: #001bcb;
    --difference-color: #ffe434;
    --acc-color: #ff4f5d;
    --white: #fff;
    --black: #000;
    --txt-title-size: 8rem;
    --txt-large-size: 2.5rem;
    --txt-medium-size: 1.25rem;
    --txt-size: 1rem;
    --txt-small-size: .9rem;
    --button-size: 1.5rem;
    --main-margin: calc(2rem + 2vw);
    --inner-margin: calc(2rem + 2vw);
    --grid-gap: 1.5rem;
    --inner-gap: .75rem;
    --menu-gap: 2.5rem;
}

@media screen and (min-width: 1600px) {
    :root {
        --main-margin: 20rem;
    }
}