/* with accent color */
/* .button.plus-minus.minus:not(.more-info) {
    border: solid 1px var(--main-color);
}

.open .button:not(.more-info),
.selected .button:not(.more-info) {
    border: solid 1px var(--main-color);
}

.open .button:not(.more-info) svg,
.selected .button:not(.more-info) svg {
    stroke: var(--main-color);
}

.open .button:not(.more-info):hover,
.selected .button:not(.more-info):hover {
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
}

.selected .list-topbar-content,
.list-content.open {
    color: var(--main-color);
    border-bottom: solid 1px var(--main-color);
}

.list-content-text {
    color: var(--main-color);
}

.selected:hover .link::after {
    background: var(--main-color);
} */

.list-topbar-header .topbar-label:hover,
.list-topbar-content:hover .topbar-label-name {
    text-decoration: none;
    color: var(--main-color);
}